{% extends 'base.html' %}
{% block main %}
<main>



    <div class="container-fluid">
        <div class="row" style="background: url(https://cdn.jsdelivr.net/gh/ngaanwailuk/md/picgo/bg.png) repeat center;display: flex;">
            <p class="h2 text-center p-5">
                这里是一个开放的平台
                <br>一个激发生活日常灵感的多元空间
                <br>我们让交流变得平等而充满乐趣
                <br>以可持续的方式
                <br>不断创新
                <br>融入社区
                <br>温暖、舒适是我们的标签
            </p>

        </div>
        <div class="row"><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/ngaanwailuk/md/picgo/yan-coffee-02.jpeg" alt=""></div>

    </div>
</main>

{% endblock main %}