{% extends 'base.html' %}
{% block main %}
<main>



    <div class="container-fluid">
        <div class="row" style="background: url(https://cdn.jsdelivr.net/gh/ngaanwailuk/md/picgo/bg.png) repeat center;display: flex;">
            <p class="h2 text-center pt-5 p-4">
                从活动合作到跨界联名<br>
                我们和各行各业共同创造文化<br>
                分享所见所感不局限在咖啡<br>
                更在艺术、设计、文化、娱乐<br>
                和生活的方方面面</p>
            <p class="h2 text-center p-4">
                和我们聊聊吧，说不定很聊得来呢
            </p>
            <a class="h2 text-center p-4" style="color: ;" href="mailto:yanweilu@outlook.com">点击这里发送邮件</a>
        </div>

    </div>
</main>
{% endblock main%}